/* Container */
.container {
    position: relative;
    margin-top: var(--spacing2);
}

/* Control */
.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--spacing);
}

/* Loading */
.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

/* Label */
.label {
    display: block;
    font-weight: bold;
    margin-bottom: var(--spacing);
}

/* Textarea */
.textarea {
    display: block;
    width: calc(100% / 2);
    font: inherit;
    font-size: 1.25rem;
    padding: 0.35rem;
    border: 1px solid var(--jet-stream);
    border-radius: 4px;
    background-color: var(--anti-flash-white);
}

.textarea:focus {
    background-color: var(--water);
    outline-color: var(--teal);
}

/* Button */
.button {
    font-size: 1.25rem;
}
  