@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  font-family: sans-serif;
  background-color: var(--bubbles);
}

main {
  margin-top: 7rem;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

a, 
button {
  transition: all var(--transition-default-timing) var(--transition-default-timing-in);
}

h1,
h2,
h3,
p {
  color: var(--cool-black);
}


.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

