:root {
    /* Color variables */
    --pure-white: #ffff;
    --white: #fff;
    --anti-flash-white: #f0f0f0;
    --jet-stream: #c1d1d1;
    --teal: #008080;
    --medium-sky-blue: #88dfdf;
    --bubbles: #e7f8f8;
    --pale-blue: #c2e7f0;
    --light-sea-green: #11acac;
    --crystal: #a1e0e0;
    --diamond: #c2fafa;
    --feldgrau: #4a5555;
    --water: #cbf8f8;
    --charlestone-green: #262c2c;
    --dark-gunmetal: #162b2b;
    --black: #000000;

    /* Layout variables */
    --spacing: 8px;
    --spacing2: 16px;
    --spacing3: 24px;
    --spacing4: 32px;
    --spacing5: 40px;
    --spacing6: 48px;
    --spacing7: 56px;
    --spacing8: 64px;
    --spacing9: 72px;
    --spacing10: 80px;
    --spacing11: 88px;
    --spacing12: 96px;
    --spacing13: 104px;
    --spacing15: 120px;
    --spacing16: 128px;
    --spacing17: 136px;
    --spacing20: 160px;
    --spacing23: 184px;
    --spacing25: 200px;
    --max-page-width: 1680px;
    --main-navigation-height: 5rem;

    /* Media Queries breakpoints | Attention! CSS Variables won't work in media queries so this is for information foremost */
    --tablet: 768px;
    --desktop: 1280px;

    /** Transformations */
    --transition-default-timing: 200ms;
    --transition-default-easing-out: ease-out;
    --transition-default-easing-in: ease-in;

    /** Viewport width and offset **/
    --viewport-width: calc(100vw - var(--page-scrollbar-width));
    --viewport-offset: 0px;
}

@media (min-width: 1680px) {
    :root {
        --viewport-offset: calc(0.5 * (var(--viewport-width) - var(--max-page-width)));
    }
}
